body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

h1 {
    color: white;
    background-color: #da1f1f; /* Cor de fundo do h1 */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Alinhamento de texto ao centro */
}

p {
    color: #666;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;; 
    height:200px;
  

}

.gif img {
    width: 100%; /* Para garantir que a imagem preencha o espaço da div */
    height: auto; /* Para manter a proporção da imagem */

}